<div class = "container editArea">

<summernote></summernote>

<h2>summernote directive</h2>

<h4>use element</h4>
<summernote></summernote>

<h4>use attribute</h4>
<div summernote></div>

<h2>summernote options</h2>

<h4>height</h4>
<summernote height="300"></summernote>

<h4>focus</h4>
<summernote focus></summernote>

<!-- Content: -->
<!-- <div class = "content">
  <textarea rows="50" cols="100" ng-model="prompt.entryContent"></textarea>
</div> -->

<!-- Saves to DB and redirects to /library -->
<a href="/library" class="btn btn-primary" ng-click="addWritingEntry()">Save to Library</a>

</div>   <!-- /.container /.writingArea-->
