<!-- /write:

<div class = "container writingArea">

<div class = "title">
  <button class="btn btn-primary" ng-click="getPrompt()">Gimme a Prompt</button>
  <div>
    {{prompt.title}}
  </div>
</div>

<summernote height="300" ng-model="prompt.entryContent"></summernote>

<a href="/library" class="btn btn-primary" ng-click="addWritingEntry()">Save to Library</a>

-->


<div class = "container editArea">


<!-- <h4>focus</h4>
<summernote focus></summernote> -->

<!-- Tried many things, none worked:  -->

<!-- <summernote height="300" ng-model="prompt.entryContent" > -->

<!-- *** This caused an infinite loop! Watch out: <summernote height="300" ng-model="edit.deliberatelyTrustDangerousSnippet()" > -->

<!-- on-paste="paste(edit.deliberatelyTrustDangerousSnippet())" -->

<!-- <div ng-bind-html="edit.deliberatelyTrustDangerousSnippet()"></div>  -->

</summernote>

<!-- Saves to DB and redirects to /library -->
<a href="/library" class="btn btn-primary" ng-click="addWritingEntry()">Save to Library</a>

</div>   <!-- /.container /.writingArea-->
