<!DOCTYPE html>
<html ng-app="promptedApp">
  <head>
    <meta charset="utf-8">
    <title>Prompted</title>

    <script src="vendors/jquery/jquery.min.js"></script>

    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="vendors/angular-route/angular-route.min.js"></script>

    <script src="vendors/summernote/summernote.min.js"></script>
    <script src="vendors/angular-summernote/angular-summernote.js"></script>
    <script src="assets/scripts/angular-sanitize.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendors/summernote/summernote.css">
    <link rel="stylesheet" href="views/styles.css" />
    <base href="/" />
    <!-- Defines base link we're looking for on our angular routes w/o # -->
  </head>
  <body class="container" ng-controller="MainController">

    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a href="/home">Prompted</a>
          </li>
          <li>
            <p>Write on, {{user.info.username}}</p>
          </li>
          <li>
            <a href="/logout" target="_self">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div ng-view></div>

  </body>
</html>
