<h1 class="libraryHeader">{{user.info.username}}'s Library</h1>

<div class="container">

<div class="well row col-md-4" ng-repeat="each in writingList">

  <h2>{{each.title}}</h2></br>


<!--
  For MVP I'm going to just make the library display the selection title.
  Old code below from when it was just a form vs. editor:

  <div class = "entryContainer">
    {{each.entryContent}}
  </div> -->

  <!-- Old old code from when just using the controller:
  <button class="btn btn-primary" ng-click="singleView(each)">View</button>
    {{view}} -->

<button class="btn btn-primary" ng-click="library.sendSingleView(each)">View</button>


</div> <!-- /.container  -->
