<!DOCTYPE html>
<html ng-app="promptedApp">
  <head>
    <meta charset="utf-8">
    <title>Prompted</title>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/jquery/jquery.min.js"></script>
    <!-- <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="vendors/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="vendors/summernote/summernote.min.js"></script>
    <script src="vendors/angular-summernote/angular-summernote.js"></script>
    <script src="assets/scripts/angular-sanitize.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <!-- <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendors/summernote/summernote.css">
    <!-- <link rel="stylesheet" href="views/styles.css" /> -->
  </head>
  <body class="container">
    <h1> Thanks for visiting Prompted! </h1>
      <h2> Want to keep writing?? </h2>
        <a href="/">Log Back In</a>

  </body>
</html>
