<div class="container">

  <div class="displayWriting">
    <!-- the 'view' in 'view.justObject...' is the controller as view -->
      <h3 class="centerTitle">{{view.justObject.title}}</h3></br>

      <div ng-bind-html="view.deliberatelyTrustDangerousSnippet()"></div>

  </div>

  <!-- <a href="/edit" class="btn btn-primary">Edit Selection</a> -->
  <!-- route set up, not able to get text into editor, so not in use for MVP -->

  <a href="/library" class="btn btn-primary">Return to Library</a>

  <button class="btn btn-primary" ng-click="view.deleteSelection(view.justObject)">Delete Selection</button>


</div> <!-- /.container -->


<!-- example code:
<div ng-controller="ExampleController">
 <p ng-bind-html="myHTML"></p>
</div>

 -->
