
    <div class = "container writingArea">


    <div class = "writeButtons">
      <button class="btn btn-primary" ng-click="getPrompt()">Gimme a Prompt</button>
      <!-- Saves to DB and redirects to /library -->

      <a href="/library" class="btn btn-primary" ng-click="addWritingEntry()">Save to Library</a>
    </br>
      <div>
        <h3>{{prompt.title}}<h3>
      </div>
    </div>


    <summernote height="500" ng-model="prompt.entryContent"></summernote>

  </div>   <!-- /.container /.writingArea-->
